.App {
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}
.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: black;
  border-radius: 20px;
  border: solid white 4px;
}
.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
